<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Espacos</title>

</head>
<body>

<h1>Isto é a página dos espaços!</h1>

<div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Coordenadas</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="espaco : ${espacos}">
            <td th:text="${espaco.id}"></td>
            <td th:text="${espaco.nome}"></td>
            <td th:text="${espaco.coord}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>