<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style2.css">
</head>
<body>
	<div class="logo">
		<img src="img/logo.png" alt="logo" />
	</div>
		<form action="/somewhere">
			<button type="button" class="loginb">Login</button>
		</form>
	<div class="input">
			<form action="/somewhere">
				 <label for="fname"></label><br>
				 <input type="text" id="fname" name="fname" class="input"><br>
				 <input type="submit" value="Pesquisar" class="search">
			</form> 
	</div>
	<div class="box">
	</div>
	<div class="map">
		<img src="img/map.jpg" alt="map" />
	</div>
</body>
</html>