<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<style type="text/css">
    ::placeholder {
        color: #040404;
        font-weight: bold;
        opacity: 0.75;
    }

    h2{
        font-family: Verdana, Geneva, sans-serif;
        color:#d2c8c6;
    }
</style>


<body>
<div th:insert="fragment/header"></div>

<div class="row align-items-center">
    <div class="col">

        <form th:action="@{/join}" th:object="${Utilizador}" method="post"
              style="text-align: center; padding-top: 100px">
            <h2> JOIN COM_UNIDADE</h2>
            <div style="padding-top: 30px">
                <div th:if="${param.username}"><p style="color: red">Username já existente</p></div>
                <input
                        type="text" th:field="*{username}" placeholder="Username" title="O utilizador só pode conter letras" pattern="[?:a-Z]{30}" style="text-align: center;padding-top:6px;width: 40%" />
            </div>
            <div style="padding-top: 20px">
                <input
                        type="password" th:field="*{password}" placeholder="Password" style="text-align: center;padding-top:6px;width: 40%"/>
            </div>
            <div style="padding-top: 10px"><button type="submit" style="border-color: #040404;background-color: #040404; color: #ffffff;font-weight: bold; font-size: 25px">OK</button></div>
        </form>
    </div>
</div>
</body>
</html>