<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="header">
	<img src="img/logo.png" alt="logo" />
	<div class="input">
		<form action="/somewhere">
			<label for="fname"></label><br>
			<input type="text" id="logname" name="fname" class="input"><br>
			<input type="submit" value="Pesquisar" class="search">
		</form>
	</div>
	<div class="login">
		<form action="/somewhere">
			<button type="button" class="loginb">Login</button>
		</form>
	</div>
</div>
<div class="box">
	<div class="log">
		<label for="fname">Usario:</label><br>
		<input type="text" id="fname" name="fname" class="inputreg"><br>
		<label for="logpassname">Password:</label><br>
		<input type="text" id="logpassname" name="lname" class="inputreg"><br><br>
		<input type="submit" value="Login">
	</div>
	<div class="reg">
		<label for="fname">Usario:</label><br>
		<input type="text" id="fregname" name="fname" class="inputreg"><br>
		<label for="passname">Password:</label><br>
		<input type="text" id="passname" name="lname" class="inputreg"><br><br>
		<label for="reppassname">Confirmar Password:</label><br>
		<input type="text" id="reppassname" name="lname" class="inputreg"><br><br>
		<input type="submit" value="Registar">
	</div>
</div>

</body>
</html>