<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<style type="text/css">

		::placeholder {
			color: #040404;
			font-weight: bold;
			opacity: 0.75;
		}

		h2{
			font-family: Verdana, Geneva, sans-serif;
			color:#d2c8c6;
		}
	</style>

</head>
<body>
<div th:insert="fragment/header"></div>
<div class="row align-items-center">
	<div class="col">
		<div th:if="${param.error}">
			Username ou palavra-passe errados.
		</div>
		<div th:if="${param.logout}">
			Fez log out.
		</div>
		<form th:action="@{/login}" method="post" style="text-align: center; padding-top: 100px">
			<h2> LOGIN COM_UNIDADE</h2>
			<div style="padding-top: 30px"> <input type="text" name="username" placeholder="Username" style="text-align: center;padding-top:6px;width: 40%"/></div>
			<div style="padding-top: 20px"> <input type="password" name="password" placeholder="Password" style="text-align: center;padding-top:6px;width: 40%"/></div>
			<div style="padding-top: 10px"> <input type="submit" value="OK" style="border-color: #040404;background-color: #040404; color: #ffffff;font-weight: bold; font-size: 25px"/></div>
		</form>
	</div>
</div>
</body>
</html>