<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Comunidade</title>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<!-- LEAFLETS -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
		  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
		  crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
			integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
			crossorigin=""></script>

  <style type="text/css">
	  *{
		  font-family: Verdana,sans-serif;
		  font-size: 15px;
		  font-style: normal;
		  font-variant: normal;
		  font-weight: 400;
		  color:#d2c8c6
	  }

	  a{
		  color:#d2c8c6;
		  text-decoration: none;
	  }

	  a:visited {
		  color: #d2c8c6;
		  text-decoration: none;
	  }

	  a:hover {
		  color: #d2c8c6;
		  text-decoration: none;
	  }

	  a:active {
		  color: #d2c8c6;
	  }

	  .signOut{
		  background-color: #212121;
		  border: none;
	  }

	   .popups{
		   color: #212121;
	   }

  </style>
</head>

<body>
	<div class="row align-items-center" style="height:50px; width: 100%; background-color: #212121; margin: 0">
	  <div class="col-8" style="padding-top: 10px;">
		<a href="/" style="text-align: right; padding-left: 100px;">Home</a>
	  </div>

	  <div class="col-4" style="padding-top: 10px;">
		<div class="float-right" style="padding-right: 100px;">
			<!--NÃO LOGGED IN-->
			<div sec:authorize="isAnonymous()">
			  <a th:href="@{/login}">Login</a>
			  <span style="padding-left: 10px; padding-right: 10px"> | </span>
			  <a th:href="@{/join}">Join</a>
			</div>

				<!--LOGGED IN-->
			<div sec:authorize="isAuthenticated()">
				<span>Olá, </span>
				<a th:href="@{/account/registos}" th:method="post" sec:authentication="name"></a>
				<span style="padding-left: 10px; padding-right: 10px"> | </span>
				<form th:action="@{/logout}" method="post" style="display: inline-block;">
					<input type="submit" class="signOut" value="Logout">
				</form>
			</div>
		</div>
	  </div>
	</div>

	<!--LOGO E PESQUISA-->
	<div class="col-12" style="height: 190px ; background-color: #444444; text-align: center;">
		<div style="padding-top: 20px">
			<span style="font-size: 46px; line-height: 1.7;">COM<span style="font-size: 46px; letter-spacing: -10px; line-height: 0;">_</span></span>
			<span style="font-weight: bolder; font-size: 46px; line-height: 1.7;">UNIDADE</span>
		</div>
	  <form th:action="@{/registo/pesquisa-nome}" style="padding-top: 10px">
		<input type="text" name="nome" placeholder="Pesquisar" style="width: 35%; height: 40px; padding-left: 10px; font-weight: lighter; color: #212121">
	  </form>
	</div>

	<div style="padding-top:10px; background-color: #212121"></div>

</body>
</html>
