<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:insert="fragment/header">
</div>
<div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>Data</td>
            <td>Nome Espaco</td>
            <td>Nível</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="registo : ${registos}">
            <td th:text="${registo.date}"></td>
            <td th:text="${registo.espaco}"></td>
            <td th:text="${registo.nivel}"></td>
        </tr>
        </tbody>
    </table>
</div>

<form>

</form>
<tr th:each="registo : ${registos}">
    <div></div>
</tr>
</body>
</html>