<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:insert="fragment/header">
</div>

<form th:action="@{/account/registos}" th:method="POST">
    <tr>
        <td>
            <th:block th:each="registo : ${registos}">
                <label th:text="${registo.printData()}"></label><br>
                <label th:text="${registo.espaco}"></label><br>
                <label th:text="${registo.nivel}"></label><br>
                <input type="hidden" name="id" th:value="${registo.getId()}" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </th:block>
        </td>
    </tr>
</form>
</body>
</html>