<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:insert="fragment/header">
</div>

<form th:action="@{/account/registo-novo}" th:object="${Registo}" method="post">
    <div>
        <label>Espaco ID</label>
        <input type="number" th:field="*{espaco}" placeholder="Espaco ID"/>
    </div>
    <div>
        <label>Nivel</label>
        <br>
        <input type="radio" id="1" th:field="*{nivel}" value="1">
        <label for="1">1</label><br>
        <input type="radio" id="2" th:field="*{nivel}" value="2">
        <label for="2">2</label><br>
        <input type="radio" id="3" th:field="*{nivel}" value="3">
        <label for="3">3</label><br>
        <input type="radio" id="4" th:field="*{nivel}" value="4">
        <label for="4">4</label><br>
    </div>

    <div><button type="submit">Novo registo</button></div>
</form>
</div>
</body>
</html>