<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:insert="fragment/header">
</div>

<style>
    body, col{
        background-color: #fdfdfd;
        width: 100%;
        height: 100%;
    }
</style>

<div class="row" style="width: 100%; margin: 0;">
    <div class="col" style="width: 100%; text-align: center">
        <h1 th:text="${niveis.nome}"></h1>
        <div style="text-align: center">
            <div th:if="${niveis.grau1}">
                <img src="https://i.ibb.co/4T1qSXt/person-1.png" alt="nível 1" style="width: auto; height: 20px">
                <span>Nível 1: </span><span th:text="${niveis.grau1}"></span><br>
            </div>
            <div th:if="${niveis.grau2}">
                <img src="https://i.ibb.co/xGcR1Nc/person-2.png" alt="nível 2" style="width: auto; height: 20px;">
                <span>Nível 2: </span><span th:text="${niveis.grau2}"></span><br>
            </div>
            <div th:if="${niveis.grau3}">
                <img src="https://i.ibb.co/SN1Hdxf/person-3.png" alt="nível 3" style="width: auto; height: 20px;">
                <span>Nível 3: </span><span th:text="${niveis.grau3}"></span><br>
            </div>
            <div th:if="${niveis.grau4}">
                <img src="https://i.ibb.co/Prvgrtr/person-4.png" alt="nível 4" style="width: auto; height: 20px;">
                <span>Nível 4: </span><span th:text="${niveis.grau4}"></span><br>
            </div>
        </div>
    </div>
</div>
</body>
</html>