<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Comunidade</title>
	<!--SEARCH BAR-->
	<script>
		function searchBar(nome) {
			window.location.pathname = '/espaco/nome/' + nome.value;
		}
	</script>


</head>

<body style="background-color: #212121">
		<!--LOGGED IN-->
		<div sec:authorize="isAuthenticated()">
			<p style="vertical-align: center; color:#d3d3d3; horiz-align: left;"><a href="/">Home</a></p>

			<a th:href="@{/account}">Nome</a>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out"/>
			</form>
		</div>

		<!--NÃO LOGGED IN-->
		<div style="height: 50px;" sec:authorize="isAnonymous()">
			<a href="/">Home</a>
			<a th:href="@{/login}">Login</a>
			<a th:href="@{/join}">Join</a>
		</div>

		<!--SEARCHBAR-->
		<div class="headerBox" style="background-color: #434343; width: 100%; height:150px;">
			<!--LOGO-->
			<form th:action="@{/espaco/nome/}">
				<input type="text" name="nome" value=""/>
				<input type="button" name="button" Value="Click" onclick="searchBar(nome)"/>
			</form>
		</div>

		<div style="height: 8px;"></div>

</body>
</html>