<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:insert="fragment/header">
</div>

<style>
    .row, body {
        height: 92.2%;
        width: 100%;
    }

    #mapid {
        height: 100%;
        width: 100%;
    }
</style>

<div class="row" style="margin: 0; height: 700px">
    <div class="col-3" style="background-color: #d2c8c6; overflow-y: scroll;">
        <div th:if="${registos}" style="padding-left: 30px; padding-top: 20px;">
            <div th:if="${registos.isEmpty()}">
                <b style="color: #212121; text-align: center; padding-top: 20%">SEM REGISTOS FEITOS NA ÚLTIMA HORA</b>
            </div>
            <div th:unless="${registos.isEmpty()}">
                <h3 style="font-weight: bold; text-align: left; padding-left: 1%;color: #498fe0">ÚLTIMOS REGISTOS:</h3><br>
            </div>
            <div th:each="registo : ${registos}">
                <div style="padding-top: 5px">
                    <a th:href="@{/registo/nome/} + ${registo.nome}" >
                        <b th:text="${registo.nome}" style="color: #040404"></b>
                    </a>
                </div>
                <div style="padding-top: 5px">
                    <span th:text="${registo.coord}" style="color: #444444"></span>
                </div>
                <div style="padding-top: 5px">
                    <span th:text="${registo.dataCompleta()}" style="color: #444444"></span>
                    <img th:if="${registo.nivel} == 1" style="padding-left: 5px; height: 25px; width: auto;" src="https://i.ibb.co/ct75Gkg/person-1.png" alt="nivel-1">
                    <img th:if="${registo.nivel} == 2" style="padding-left: 5px; height: 25px; width: auto;" src="https://i.ibb.co/M6SQrsW/person-2.png" alt="nivel-2">
                    <img th:if="${registo.nivel} == 3" style="padding-left: 5px; height: 25px; width: auto;" src="https://i.ibb.co/8mfWHQC/person-3.png" alt="nivel-3">
                    <img th:if="${registo.nivel} == 4" style="padding-left: 5px; height: 25px; width: auto;" src="https://i.ibb.co/Prvgrtr/person-4.png" alt="nivel-4">
                </div>
                <br>
                <div style="text-align: left">
                    <svg height="10px">
                        <line x1="0" x2="500" style="stroke:rgb(67,67,67);stroke-width:2"  />
                    </svg>
                </div>
                <br>
            </div>
        </div>

        <div style="text-align: center" th:unless="${registos}">
            <br><br>
            <b style="color: #212121; text-align: center; padding-top: 20%">ESPAÇO NÃO ENCONTRADO</b>
        </div>
    </div>
    <div class="col-9" style="margin: 0; height: 100%">
        <div id="mapid"></div>
    </div>
</div>
</body>

<script type="text/javascript" th:inline="javascript">
    var map = L.map('mapid').setView([39.557191, -7.8536599], 7);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1
    }).addTo(map);


    var lista = [[${registos}]];
    var coords, x, y, atual, temp;
    var popupContent;
    var dict = {};

    var Waypoints = L.Icon.extend({
        options: {
            iconSize:     [20, 20],
            iconAnchor:   [10, 10],
            popupAnchor:  [0, 0]
        }
    });

    var grau1 = new Waypoints({iconUrl: 'https://i.ibb.co/g6RpRLN/waypoint1.png'});
    var grau2 = new Waypoints({iconUrl: 'https://i.ibb.co/WybYVk0/waypoint2.png'});
    var grau3 = new Waypoints({iconUrl: 'https://i.ibb.co/NNtVWXt/waypoint3.png'});
    var grau4 = new Waypoints({iconUrl: 'https://i.ibb.co/svXfWgb/waypoint4.png'});

    if(lista) {
        for (i = 0; i < lista.length; i++) {
            atual = lista[i];
            console.log(atual.nome);
            coords = atual.coord.split(',');
            console.log(atual.nome);
            x = coords[0];
            y = coords[1];


            switch (atual.nivel) {
                case 1:
                    popupContent = "<div class='popups'><b style='text-align: center; color: #212121'>"+atual.nome+
                        "</b><br>Vazio ou com mínima lotação<br><span style='color: #212121'>"+
                        atual.data + " " + atual.hora + "</span></div>";
                    dict[atual.coord] = L.marker([x, y], {title:atual.nome, icon:grau1}).addTo(map).bindPopup(popupContent);
                    break;
                case 2:
                    popupContent = "<div class='popups'><b style='text-align: center; color: #212121'>"+atual.nome+
                        "</b><br>Com pessoas, mas espaço suficiente<br><span style='color: #212121'>"+
                        atual.data + " " + atual.hora + "</span></div>";
                    dict[atual.coord] = L.marker([x, y], {title:atual.nome, icon:grau2}).addTo(map).bindPopup(popupContent);
                    break;
                case 3:
                    popupContent = "<div class='popups'><b style='text-align: center; color: #212121'>"+atual.nome+
                        "</b><br>Muito cheio<br><span style='color: #212121'>"+
                        atual.data + " " + atual.hora + "</span></div>";
                    dict[atual.coord] = L.marker([x, y], {title:atual.nome, icon:grau3}).addTo(map).bindPopup(popupContent);
                    break;
                case 4:
                    popupContent = "<div class='popups'><b style='text-align: center; color: #212121'>"+atual.nome+
                        "</b><br>Muito cheio e com fila de espera<br><span style='color: #212121'>"+
                        atual.data + " " + atual.hora + "</span></div>";
                    dict[atual.coord] = L.marker([x, y], {title:atual.nome, icon:grau4}).addTo(map).bindPopup(popupContent);
                    break;
                default:
                    break;
            }
        }
    }



    map.on('click', function(e) {
        let lat = String(e.latlng.lat).substring(0,8);
        let lng = String(e.latlng.lng).substring(0,8);

        lat = parseFloat(lat);
        lng = parseFloat(lng);

        if(temp != null)
            temp.closePopup();

        var coords, x, y, dist;
        var min = 10000000; //infinito

        temp = null;

        for(var key in dict){
            coords = key.split(',');
            x = parseFloat(coords[0]);
            y = parseFloat(coords[1]);

            dist = Math.sqrt(Math.pow(lat-x, 2) + Math.pow(lng-y,2));

            if(dist < min){
                min = dist;
                temp = dict[key];
            }
        }
        if(temp != null)
            temp.openPopup();
    });

</script>

</html>